<div class="panel-style space custom-menu no-pad-r m-bot-30 m-top-30">
    <span class="grey-title">Bana Ait</span>

    <ul>
        <li><a href="#" class="connections">Notlar <span></span></a></li>
        <li><a href="#" class="connections">Görevler <span></span></a></li>
        <li><a href="#" class="connections">Projeler <span></span></a></li>
        <li><a href="#" class="connections">Mesajlar <span></span></a></li>
    </ul>
    <div class="latest-uploads">
        <span class="grey-title">Kullanım</span>

        <ul>
            <li><a href="#" class="doc">Dökümantasyon.pdf<span></span></a></li>
        </ul>
    </div>
</div>