<div id="sidebar">

    <div class="search-block clearfix">
        <span></span>
        <input type="text" placeholder="Ara"/>
    </div>

    <ul class="drop-area">

        <li class="no-back">
            <a href="{{ path('main') }}">Yönetim Merkezi</a>
        </li>

        <li>
            Üyeler
            <ul>
                <li>
                    <span class="icn icon-190"></span>
                    <a href="{{ path('create-member') }}">Yeni Üye Ekle</a>
                </li>
            </ul>
        </li>

        <li>
            Takımlar
            <ul>
                <li>
                    <span class="icn icon-190"></span>
                    <a href="{{ path('create-team') }}">Yeni Takım Ekle</a>
                </li>
            </ul>
        </li>

        <li>
            Projeler
            <ul>
                <li>
                    <span class="icn icon-190"></span>
                    <a href="{{ path('create-project') }}">Yeni Proje Ekle</a>
                </li>
            </ul>
        </li>

        <li>
            Görevler
            <ul>
                <li>
                    <span class="icn icon-190"></span>
                    <a href="ui-sliders.html">Yeni Görev Ekle</a>
                </li>
            </ul>
        </li>
    </ul>
</div>