<div class="profile-categories">
    <span class="grey-title">Genel Bilgilendirme</span>
    <div class="wrap">
        <div class="fav clearfix">
            <span class="title pull-left">Toplam Takım</span>
            <span class="text pull-right first">1,595</span>
        </div>
        <div class="fav clearfix">
            <span class="title pull-left">Toplam Üye</span>
            <span class="text pull-right">120</span>
        </div>
        <div class="fav clearfix">
            <span class="title pull-left">Toplam Proje</span>
            <span class="text pull-right">34</span>
        </div>

        <div class="fav clearfix">
            <span class="title pull-left">Toplam Görev</span>
            <span class="text pull-right">34</span>
        </div>
    </div>

</div>
